<div>
    <!-- <input class="form-control"  placeholder="TYPE ADDRESS OR A PLACE NEARBY IN ANY LANGUAGE" id="searchTxt" #searchTxt />
      
        <button class="add-button" (click)="search(searchTxt.value);">
         GO !
        </button> -->
        <form class="form-inline">         
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="TYPE ADDRESS OR A PLACE NEARBY IN ANY LANGUAGE" id="searchTxt" #searchTxt >
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="search(searchTxt.value);">Go!</button>
        </form>
</div>
